body {
    font-family: Arial, sans-serif;
    background-color: #E7E8D1;
    margin: 0;
    padding: 0;
}

.navbar {
    padding-top: 0px;
    background-color: #E7E8D1;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(191, 58, 58);
    background-color: #FCF6F5FF;
    text-align: center;
    padding: 14px 16px;
    margin-top: 1px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 20px;
    border: 3px solid black;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h2 {
    text-align: center;
    color: #007BFF;
}

.tab {
    display: none;
    border: 10px black;
}

#home {
    padding: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    text-align: left;
    white-space: pre-wrap;
}


#adminMarquee span {
    padding-bottom: 15px;
    display: block;
}

  
