#adminTab * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#adminTab section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
    width: 100%;
    background: url("https://shiksha-static-mediadata.s3.ap-southeast-1.amazonaws.com/mediadata/reviewDocument/images/1688066626258images.jpeg") no-repeat center center;
    background-size: cover;
}

#adminTab .form-box {
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#adminTab h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

#adminTab .inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

#adminTab .inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

#adminTab .inputbox input:focus ~ label,
#adminTab .inputbox input:valid ~ label {
    top: -5px;
}

#adminTab .inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

#adminTab .inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}


#adminTab button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}



#adminTab button:hover {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: black;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}


